[submodule "benchmarks/smartbench-dataset"]
	path = benchmarks/smartbench-dataset
	url = https://github.com/sbip-sg/smartbench-dataset.git
[submodule "results/smartbench-results"]
	path = results/smartbench-results
	url = https://github.com/sbip-sg/smartbench-results.git
