# Python files
__pycache__
venv
.ropeproject

# Emacs files
flycheck_*.py

# Archive file
*.tar
*.zip
*.tar.gz

# Temporary files
results
*.ast
deploy
log

# Tools
repo
confuzzius_venv
smartfuzz_venv

# Binary files
solquery

# Python temporarily files
.ipynb_checkpoints

# VSCode files
*.code-workspace
